{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Ожидают отправки</h2>
            {% for email in awaiting %}
            <p class='awaiting' >{{ email }}</p>
            {% endfor %}
        </div>
        <div class="col-sm">
            <h2>Отправленные</h2>
            {% for email in sended %}
            <p class='sended' >{{ email }}</p>
            {% endfor %}
        </div>
    </div>

</div>
<hr>
<nav aria-label="Pagination">
  <ul class="pagination justify-content-lg-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Назад</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
      </li>
      {% endif %}


      {% for n in page_obj.paginator.page_range %}
          {% if page_obj.number == n %}
              <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
              </li>
          {%  elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ n }}">{{ n }}</a>
              </li>
          {% endif %}
      {% endfor %}


      {% if page_obj.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Вперед</a>
      </li>
      {% endif%}
  </ul>
</nav>

{% endblock content %}

{% block javascript %}
<script>

function update() {
  $.get('mails-list', function(data) {
    $('.body').html(data);
  });
}

setTimeout(update, 10000);

</script>

{% endblock javascript %}
