{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Ожидают отправки</h2>
            {% for mail in mails %}
            {% if mail.seconds > 0 %}
            <p>{{ mail.email }}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm">
            <h2>Отправленные</h2>
            {% for mail in mails %}
            {% if mail.seconds == 0%}
            <p>{{ mail.email }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}